events {
    
}

http {
    server {
        listen       80;
        server_name  localhost;
        
        location / {
            proxy_pass http://localhost:8080$request_uri;
        }
        
        location /api {
            proxy_pass  http://localhost:5000$request_uri;
        }
    }
}