events {
    
}

http {
    server {
        listen 80;
        
        location / {
            return /usr/share/nginx/html/index.html;
        }
        
        location /api {
            proxy_pass http://api:5000;
        }
    }
}